@model IEnumerable<GestionDePersonas.Models.Persona>

@{
    ViewData["Title"] = "Listar";
}

<h1>Lista de Personas</h1>

<p>
    <a asp-action="Agregar" class="btn badge-success">Agregar</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Primer_Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Segundo_Apellido)
            </th>
            <th>
                @Html.DisplayName("Foto")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Primer_Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Segundo_Apellido)
            </td>
            <td class="figure-img">
               
                <img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Foto))" Width="150" Height="150" class="rounded-circle" />

            </td>

        </tr>
}
    </tbody>
</table>
